<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>{{ title }}</h1>
    <p>{{ text }}</p>

    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <!-- # csrf_token is a security feature that prevents Cross-Site Request Forgery (CSRF) attacks.
            # CSRF attacks are a type of malicious attack where unauthorized commands are performed on behalf of an
            authenticated user. -->
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </div>


    <ul>
        {% for post in posts %}
        <li>
            <h2>
                Title: {{ post.title }} 
                <a href="{% url 'update_post' post.id %}">✍🏻</a>
                <a href="{% url 'delete_post' post.id %}">❌</a>
            </h2>
            <p><b>Description:</b>{{ post.description }}</p>
        </li>
        {% endfor %}
    </ul>
</body>

</html>