* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

ul {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
}
li {
    background-color: #333;
    border-radius: 10px;
    color: snow;
    padding: 10px 20px;
}